<section id="classroom-index" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="display-4 text-center">Lista de Salones</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-10 mx-auto">
            <div class="col-8 col-sm-6 col-md-5 col-xl-3 mx-auto align-self-center text-center">
              <%# Roles ['Admin', 'Inscripciones', "Administración", "Cursos"] %>
              <% if current_worker.role == "Admin" || current_worker.role == "Administración" %>
              <!-- Button trigger modal new classroom -->
              <button type="button" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <%= bootstrap_icon "plus-circle", class: "text-center" %> Agregar nuevo salón
              </button>
              <% end %>

              <!-- Modal new classroom -->
              <div class="modal fade text-start" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Datos del salón</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= form_for :classroom, url: classroom_create_path do |f|%>
                      <div class="form-group">
                        <%= f.label "Nombre" %>
                        <%= f.text_field :name, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label "Descripción" %>
                        <%= f.text_field :description, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label "Capacidad" %>
                        <%= f.number_field :capacity, class: "form-control", required: true %>
                      </div>
                      <div class="form-group">
                        <%= f.label "Tamaño (metros cuadrados)" %>
                        <%= f.number_field :size, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label "¿Cuenta con equipo de computo ?", class: "text-capitalize" %><br/>
                        <%= f.radio_button :computing_equipment, true %>Sí
                        <%= f.radio_button :computing_equipment, false %>No <br/>
                      </div>
                      <div class="form-group">
                        <%= f.label "¿Cuenta con pizarrón?", class: "text-capitalize" %><br/>
                        <%= f.radio_button :board, true %>Sí
                        <%= f.radio_button :board, false %>No <br/>
                      </div>
                      <div class="form-group">
                        <%= f.label "¿Cuenta con mobiliario específico?", class: "text-capitalize" %><br/>
                        <%= f.radio_button :moobiliary, true %>Sí
                        <%= f.radio_button :moobiliary, false %>No <br/>
                      </div>
                      <div class="form-group">
                        <%= f.label "Cantidad de sillas" %>
                        <%= f.select :chairs_quantity, (0..50).to_a, class: "ms-5 d-block w-100 form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.submit "Crear Salón", class: "btn btn-green mt-3" %>
                      </div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto my-4 text-center">
            <p>
              <a class="btn btn-green mb-3" data-bs-toggle="collapse" href="#collapseCapacity" role="button" aria-expanded="false" aria-controls="collapseCapacity">
                <%= bootstrap_icon "bar-chart-line", class: "text-center" %> Gráfica de capacidad de salones
              </a>
              <button class="btn btn-green mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMobiliary" aria-expanded="false" aria-controls="collapseMobiliary">
                <%= bootstrap_icon "bar-chart-line", class: "text-center" %> Gráfica de salones con mobiliario
              </button>
            </p>
            <div class="collapse text-center" id="collapseCapacity">
              <div class="card card-body">
                <div id="myDiv" class="w-100"></div>
              </div>
            </div>
            <div class="collapse text-center" id="collapseMobiliary">
              <div class="card card-body">
                <div id="mobiliary-quantity" class="w-100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 mx-auto">
      <% if @classrooms.any? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center">Estatus</th>
              <th scope="col" class="text-center">Capacidad de alumnos</th>
              <th scope="col" class="text-center">Tamaño m<sup>2</sup></th>
              <th scope="col" class="text-center">Equipo de computo</th>
              <th scope="col" class="text-center">Pizarrón</th>
              <th scope="col" class="text-center">Mobiliario especial</th>
              <th scope="col" class="text-center">Cantidad de sillas</th>
              <% if current_worker.role == "Admin" || current_worker.role == "Administración" %>
              <th scope="col" class="text-center">Editar</th>
              <th scope="col" class="text-center">Borrar</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @classrooms.each do |classroom| %>
            <tr>
              <td class="text-center"><%= link_to classroom.name, classroom_show_path(classroom.id), class: "btn btn-cherry w-100" %></td>
              <td class="text-center">
                <% if classroom.status %>
                <p class="green m-0">Salón disponible</p>
                <% else %>
                <p class="red m-0">Salón no disponible</p>
                <% end %>
              </td>
              <td class="text-center"><%= classroom.capacity %></td>
              <td><%= classroom.size%></td>
              <td class="text-center">
                <% if classroom.computing_equipment %>
                <%= bootstrap_icon "check-circle-fill", fill: "green", class: "text-center" %>
                <% else %>
                <%= bootstrap_icon "x-circle-fill", fill: "red", class: "text-center" %>
                <%end%>
              </td>
              <td class="text-center">
                <% if classroom.board %>
                <%= bootstrap_icon "check-circle-fill", fill: "green", class: "text-center" %>
                <% else %>
                <%= bootstrap_icon "x-circle-fill", fill: "red", class: "text-center" %>
                <%end%>
              </td>
              <td class="text-center">
                <% if classroom.moobiliary %>
                <%= bootstrap_icon "check-circle-fill", fill: "green", class: "text-center" %>
                <% else %>
                <%= bootstrap_icon "x-circle-fill", fill: "red", class: "text-center" %>
                <%end%>
              </td>
              <td class="text-center"><%= classroom.chairs_quantity %></td>
              <%# Roles ['Admin', 'Inscripciones', "Administración", "Cursos"] %>
              <% if current_worker.role == "Admin" || current_worker.role == "Administración" %>
              <td class="text-center"><!-- Button trigger modal edit classroom -->
                <button type="button" class="btn btn-brown" data-bs-toggle="modal" data-bs-target="#exampleModal<%=classroom.id%>">
                  <%= bootstrap_icon "pencil", class: "text-center" %> Editar
                </button>

                <!-- Modal edit classroom -->
                <div class="modal fade" id="exampleModal<%=classroom.id%>" tabindex="-1" aria-labelledby="exampleModal<%=classroom.id%>Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal<%=classroom.id%>Label">Editar salón</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        <%= form_for :classroom, url: classroom_update_path(classroom.id) do |f| %>
                        <div class="form-group">
                          <%= f.label "Nombre" %>
                          <%= f.text_field :name, class: "form-control", placeholder: classroom.name, value: classroom.name %>
                        </div>
                        <div class="form-group">
                          <%= f.label "Descripción" %>
                          <%= f.text_field :description, class: "form-control", placeholder: classroom.description, value: classroom.description %>
                        </div>
                        <div class="form-group">
                          <%= f.label "Capacidad" %>
                          <%= f.select :capacity, (0..50).to_a, class: "ms-5 d-block w-100 form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label "Tamaño (metros cuadrados)" %>
                          <%= f.number_field :size, class: "form-control", placeholder: classroom.size, value: classroom.size %>
                        </div>
                        <div class="form-group">
                          <%= f.label "¿Cuenta con equipo de computo ?", class: "text-capitalize" %><br/>
                          <%= f.radio_button :computing_equipment, true %>Sí
                          <%= f.radio_button :computing_equipment, false %>No <br/>
                        </div>
                        <div class="form-group">
                          <%= f.label "¿Cuenta con pizarrón?", class: "text-capitalize" %><br/>
                          <%= f.radio_button :board, true %>Sí
                          <%= f.radio_button :board, false %>No <br/>
                        </div>
                        <div class="form-group">
                          <%= f.label "¿Cuenta con mobiliario específico?", class: "text-capitalize" %><br/>
                          <%= f.radio_button :moobiliary, true %>Sí
                          <%= f.radio_button :moobiliary, false %>No <br/>
                        </div>
                        <div class="form-group">
                          <%= f.label "Cantidad de sillas" %>
                          <%= f.select :chairs_quantity, (0..50).to_a, class: "ms-5 d-block w-100 form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.submit "Crear Salón", class: "btn btn-green mt-3" %>
                        </div>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div></td>
                <td class="text-center">
                  <%= button_to classroom_delete_path(classroom.id), method: :delete, form: { data: { turbo_confirm: "Estas seguro de eliminar este salón?" } }, class: "btn btn-danger" do %>
                  <%= bootstrap_icon "trash", class: "text-center" %> Borrar
                  <% end %>
                </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
        <% else %>
        <p class="text-center display-6">Aún no hay salones agregados</p>
        <% end %>
      </div>
    </div>
  </section>
  <script>
    var trace1 = {
      type: 'bar',
      x: <%= raw @classrooms_name %>,
      y: <%= raw @classrooms_capacity %>,
      marker: {
        color: '#235B4E',
        line: {
          width: 2.5
        }
      }
    };

    var data = [ trace1 ];

    var layout = {
      title: 'Capacidad de salones',
      font: {size: 18}
    };

    var config = {responsive: true}

    Plotly.newPlot('myDiv', data, layout, config );
    var trace1 = {
      x: ["Equipo de computo", "Pizarrones", "Mobiliario especial"],
      y: [<%= @classrooms_computing %>, <%= @classrooms_board %>, <%= @classrooms_mobiliary %>],
      mode: 'lines+markers'
    };

    var trace2 = {
      x: ["Equipo de computo", "Pizarrones", "Mobiliario especial"],
      y: [<%= @classrooms_computing %>, <%= @classrooms_board %>, <%= @classrooms_mobiliary %>],
      mode: 'lines+markers'
    };

    var trace3 = {
      x: ["Equipo de computo", "Pizarrones", "Mobiliario especial"],
      y: [<%= @classrooms_computing %>, <%= @classrooms_board %>, <%= @classrooms_mobiliary %>],
      mode: 'lines+markers'
    };

    var data = [ trace1 ];

    var layout = {
      title:'Cantidad de salones con mobiliario'
    };

    Plotly.newPlot('mobiliary-quantity', data, layout);

  </script>
