<section class="container-fluid" id="classroom-show">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="display-4 my-2 text-center"><%= @classroom.name %></h1>
      <p class="text-capitalize">description: <%= @classroom.description %></p>
      <p class="text-capitalize">Capacidad: <%= @classroom.capacity %></p>
      <p class="text-capitalize">Cuenta con mobiliario: <%= @classroom.moobiliary %></p>
      <p class="text-capitalize">Tamaño m<sup>2</sup>: <%= @classroom.size %></p>
      <p class="text-capitalize">Cantidad de sillas<%= @classroom.chairs_quantity %></p>
    </div>
  </div>
</section>
