<section class="container-fluid" id="classroom-show">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="display-4 my-2 text-center"><%= @classroom.name %></h1>
      <p class="text-capitalize">descrici칩n: <%= @classroom.description %></p>
      <p class="text-capitalize">Capacidad: <%= @classroom.capacity %></p>
      <p class="text-capitalize">Cuenta con mobiliario: 
        <% if @classroom.moobiliary %>
        <%= bootstrap_icon "check-circle-fill", fill: "green", class: "text-center" %>
        <% else %>
        <%= bootstrap_icon "x-circle-fill", fill: "red", class: "text-center" %>
        <%end%>
      </p>
      <p class="text-capitalize">Cuenta con pizarr칩n: 
        <% if @classroom.board %>
        <%= bootstrap_icon "check-circle-fill", fill: "green", class: "text-center" %>
        <% else %>
        <%= bootstrap_icon "x-circle-fill", fill: "red", class: "text-center" %>
        <%end%>
      </p>
      <p class="text-capitalize">Cuenta con equipo de computo: 
        <% if @classroom.computing_equipment %>
        <%= bootstrap_icon "check-circle-fill", fill: "green", class: "text-center" %>
        <% else %>
        <%= bootstrap_icon "x-circle-fill", fill: "red", class: "text-center" %>
        <%end%>
      </p>
      <p class="text-capitalize">Tama침o m<sup>2</sup>: <%= @classroom.size %></p>
      <p class="text-capitalize">Cantidad de sillas: <%= @classroom.chairs_quantity %></p>
      <p>Estado del sal칩n: <%= @status %></p>
    </div>
  </div>
</section>
