<!-- Button trigger modal -->
<button type="button" class="btn btn-green w-100 my-3" data-bs-toggle="modal" data-bs-target="#approbated">
  Agregar aprobados y no aprobados
</button>

<!-- Modal -->
<div class="modal fade" id="approbated" tabindex="-1" aria-labelledby="approbatedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approbatedLabel">Aprobados y no aprobados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for :course, url: course_approved_path(@course.id) do |f| %>
            <div class="">
                <%= f.label "Aprobados Hombres", class: "form-label text-capitalize" %>
                <%= f.number_field :approved, class: "form-control", required: true %>
            </div>
            <div class="">
                <%= f.label "Aprobados Mujeres", class: "form-label text-capitalize" %>
                <%= f.number_field :approved_women, class: "form-control", required: true %>
            </div>
            <div class="">
                <%= f.label "No aprobados Hombres", class: "form-label text-capitalize" %>
                <%= f.number_field :reprobated, class: "form-control", required: true %>
            </div>
            <div class="">
                <%= f.label "No aprobados Mujeres", class: "form-label text-capitalize" %>
                <%= f.number_field :reprobated_women, class: "form-control", required: true %>
            </div>
            <div class="">
                <%= f.label "Bajas hombres", class: "form-label text-capitalize" %>
                <%= f.number_field :downs, class: "form-control", required: true %>
            </div>
            <div class="">
                <%= f.label "Bajas mujeres", class: "form-label text-capitalize" %>
                <%= f.number_field :down_women, class: "form-control", required: true %>
            </div>
            <div class="">
                <%= f.submit "Guardar datos", class: "form-control btn-green my-5" %>
            </div>
        <% end %>
        <%# params.require(:course).permit(:trained_men, :trained_women, :approved, :approved_women, :reprobated, :reprobated_women, :downs, :down_women) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>