<!-- Button trigger modal -->
<button type="button" class="btn btn-green w-100" data-bs-toggle="modal" data-bs-target="#datasheetShowModal">
  <%= bootstrap_icon "file-earmark-spreadsheet", class: "text-center" %> Ver la ficha de materiales
</button>
<%= button_to data_sheet_delete_path(@course.data_sheet.id), method: :delete, form: { data: { turbo_confirm: "Estas seguro de eliminar esta ficha de materiales? \n Esta acción no pude deshacerse" } }, class: "btn btn-cherry w-100 my-2" do %>
  <%= bootstrap_icon "trash", class: "text-center" %> Borrar ficha de materiales
<% end %>

<!-- Modal -->
<div class="modal fade" id="datasheetShowModal" tabindex="-1" aria-labelledby="datasheetShowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datasheetShowModalLabel">Lista de materiales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <p class="h4 text-center">Nombre del insumo</p>
            </div>
            <div class="col-4">
              <p class="h4 text-center">Cantidad requerida para el curso</p>
            </div>
            <div class="col-4">
              <p class="h4 text-center">Cantidad en almacen</p>
            </div>
            <% @course.data_sheet.supply_data_sheets.each_with_index do |data, index| %>
            <div class="col-4">
              <p class="text-center"><%= data.name %></p>
            </div>
            <div class="col-4">
              <p class="text-center"><%= data.quantity %></p>
            </div>
            <div class="col-4">
              <p class="text-center">
                <% if @supplies[index].class != String %>
                <% if data.quantity <= @supplies[index] %>
                <span class="green"><%= @supplies[index] %></span>
                <% else %>
                <span class="red"><%= @supplies[index] %></span>
                <% end %>
                <% else %>
                <span class="red"><%= @supplies[index] %></span>
                <% end %>
                </p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
