<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <p class="text-capitalize h4 text-center">Nombre del producto</p>
        </div>
        <div class="col-4">
            <p class="text-capitalize h4 text-center">Cantidad </p>
            
        </div>
        <div class="col-4">
            <p class="text-capitalize h4 text-center">Agregar a la ficha técnica</p>
            
        </div>
    </div>
</div>
<% products.each do |product| %>
<div class="container-fluid">
    <div class="row border shadow my-3 ">
        <div class="col-4 align-self-center">
            <p class="text-capitalize"><%= product.name %> </p>
        </div>
        <div class="col-4 align-self-center">
            <p class="text-capitalize text-center"><%= product.quantity %> </p>
            
        </div>
        <div class="col-4 border align-self-center py-3">
            <%= form_with(url: course_add_data_sheet_path(@course.id), method: "POST", data: {turbo_frame: "products_data_sheet", turbo_action: "advance"}) do |f| %>
            <%= f.text_field :data_sheet_id, value: @course.data_sheet.id, class: "d-none" %>
            <%= f.text_field :product_name, value: product.id, class: "d-none" %>
            <%= f.label "Cantidad de este insumo para el curso", class: "form-label" %>
            <%= f.text_field :quantity_product, class: "form-control" %>
            <%= f.submit "Agregar a la ficha técnica", class: "btn btn-green my-3", data: {action: "input->form-search-product#active"}, locals: { query: "" } %>
            <% end %>
        </div>
    </div>
</div>

<% end %>
