 <%= turbo_frame_tag "products_data_sheet" do %>
 <% products_data_sheet.each_with_index do |data, index| %>
    <div class="container-fluid">
        <div class="row border">
            <div class="col-4 border p-2">
                <p class="text-center m-0 text-capitalize"><%= Supply.find(data.id).name %></p>
            </div>
            <div class="col-4 border p-2">
                <p class="text-center m-0">
                    <% if data.quantity <= Supply.find(data.id).quantity %>
                        <span class="green"><%= data.quantity %></span>
                    <% else %>
                        <span class="red"><%= data.quantity %></span>
                    <% end %>
                </p>
            </div>
            <div class="col-4 border p-2">
                <p class="text-center m-0">
                    <%= Supply.find(data.id).quantity %>
                </p>
            </div>
        </div>
    </div>
<% end %>
<% end %>