<section id="courses" class="container-fluid py-5">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <h1 class="text-center display-6">Todos los Cursos</h1>
      <br/>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-green d-block mx-auto px-5 mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar Curso
      </button>
      <%# Que el formulario de editar ya tenga los valores por default %>
      <%# Agregar el cargo al modelo worker %>
      <%# Mostrar los salones por status de uso  %>
      <%# Poner un calendario para la disponibilidad del curso y el salón %>
      <%# Revisar lo de los periodos %>
      <%# En los esquemas ponerle con que se debe llenar cada campo %>
      <%# Reportes para anaqueles por anaquel, tipo de producto %>
      <%# Agregar el show del estudiante %>
      <%# Nivel de eficiencia en los cursos al momento de finalizarlo %>
      <%# Que los alumnos aparezcan en un collapse para que se vean solo cuando presiones el botón %>
      <%# al momento de crear el curso poner los salones disponibles según su status %>
      <%# Revisar imagen de page error  %>
      <%# Agregar iconos a los botones dependiendo el modelo %>
      <%# Agregar mensaje completo al momento de borrar %>
      <%# Todos pueden ver todos los campos pero solo los de cada area lo pueden modificar %>
      <%# hacer que todas las tablas sean responsivas %>


      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Información del Curso</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_for :course, url: course_create_path do |f| %>
              <div class="form-group">
                <%= f.label :id_ddc %><br/>
                <%= f.text_field :id_ddc, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :nombre_curso %><br/>
                <%= f.text_field :name, class: "form-control", required: true %>
              </div>
              <div class="form-group d-none">
                <%#= f.label :sitio_o_ubicación %><br/>
                <%#= f.select :site, ["ICAT GAM", "Oficinas centrales", "Otro"], class: "dropdown-item" %>
              </div>
              <div class="form-group">
                <%= f.label :fecha_inicio %><br/>
                <%= f.date_field :start_date, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :fecha_terminación %><br/>
                <%= f.date_field :end_date, class: "form-control", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :start_date, "Hora de inicio" %> <br/>
                <%= f.select :start_hour, (9..17).to_a %>:00
              </div>
              <div class="form-group">
                <%= f.label :end_date, "Hora de finalización" %> <br/>
                <%= f.select :end_hour, (10..17).to_a %>:00
              </div>

              <div class="form-group py-2">
                <%= f.label :dias_del_curso %><br/>
                <%= f.collection_check_boxes :days, [['Lunes'], ['Martes'], ['Miércoles'], ['Jueves'], ['Viernes']], :first, :first do |b| %>
                <li>
                  <%= b.label %>
                  <%= b.check_box %>
                </li>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :número_de_sesiones %><br/>
                <%= f.select :sessions_number, (1..30).to_a, class: "form-control" %>
              </div>
              <div class="form-group dropdown ">
                <%= f.label :modalidad %><br>
                <%= f.select :modality, ["Presencial", "Semi-Presencial o mixto", "En directo"], class: "dropdown-item" %>
              </div>
              <div class="form-group d-none">
                <%= f.label :Costo_curso %><br/>
                <%= f.text_field :cost, class: "form-control" %>
              </div>
              <!-- Este se puede usar después para mostrar las academias -->
              <div class="form-group dropdown d-none">
                <%#= f.label :escolaridad %><br>
                <%#= f.select :scholarity, ['Primaria', 'Secundaria', 'Preparatoria', "Licenciatura", "Maestría", "Doctorado"], class: "dropdown-item" %>
              </div>

              <div class="form-group">
                <%= f.submit "Agregar curso", class: "btn btn-green mt-3" %>
              </div>

              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <% if @courses.any? %>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">id_ddc</th>
              <th scope="col">Nombre</th>
              <th scope="col">Modalidad</th>
              <th scope="col">Inicio</th>
              <th scope="col">Final</th>
              <th scope="col">Horario</th>
              <th scope="col">Status</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <% @courses.each do |course| %>
            <tr>
              <!-- <th scope="row"><%#= course.id%></th> -->
              <td><%= course.id_ddc %></td>
              <td><%= link_to course.name, course_show_path(course.id), class: "btn-cherry btn w-100 text-capitalize" %></td>
              <td><%= course.modality %></td>
              <td><%= course.start_date.strftime("%m / %d / %Y") %></td>
              <td><%= course.end_date.strftime("%m / %d / %Y") %></td>
              <td><%= course.start_hour.strftime('%H:%M') %> - <%= course.end_hour.strftime('%H:%M') %></td>
              <td><%= course.status %></td>
              <td><!-- Button trigger modal edit course -->
                <button type="button" class="btn btn-brown" data-bs-toggle="modal" data-bs-target="#exampleModal<%= course.id %>">
                  Editar
                </button>

                <!-- Modal edit course -->
                <div class="modal fade" id="exampleModal<%= course.id %>" tabindex="-1" aria-labelledby="exampleModal<%= course.id %>Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal<%= course.id %>Label">Editar curso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        <%= form_for :course, url: edit_course_path(course.id) do |f| %>
                        <div class="form-group">
                          <%= f.label :id_ddc %><br/>
                          <%= f.text_field :id_ddc, class: "form-control", required: true, placeholder: "#{course.id_ddc}", value: course.id_ddc %>
                        </div>
                        <div class="form-group">
                          <%= f.label :nombre_curso %><br/>
                          <%= f.text_field :name, class: "form-control", required: true, placeholder: "#{course.name}", value: course.name %>
                        </div>
                        <div class="form-group">
                          <%= f.label :fecha_inicio %><br/>
                          <%= f.date_field :start_date, class: "form-control", required: true, value: course.start_date %>
                        </div>
                        <div class="form-group">
                          <%= f.label :fecha_terminación %><br/>
                          <%= f.date_field :end_date, class: "form-control", required: true, value: course.end_date %>
                        </div>
                        <div class="form-group">
                          <%= f.label :start_date, "Hora de inicio" %> <br/>
                          <%= f.select :start_hour, (9..17).to_a %>:00
                        </div>
                        <div class="form-group">
                          <%= f.label :end_date, "Hora de finalización" %> <br/>
                          <%= f.select :end_hour, (10..17).to_a %>:00
                        </div>
                        <div class="form-group">
                          <%= f.label "Estatus del curso" %>
                          <%= f.select :status, ["En preparación", "En progeso", "Finalizado"], class: "dropdown-item" %>
                        </div>
                        <div class="form-group py-2">
                          <%= f.label :dias_del_curso %><br/>
                          <%= f.collection_check_boxes :days, [['Lunes'], ['Martes'], ['Miércoles'], ['Jueves'], ['Viernes']], :first, :first do |b| %>
                          <li>
                            <%= b.label %>
                            <%= b.check_box %>
                          </li>
                          <% end %>
                        </div>
                        <div class="form-group">
                          <%= f.label :número_de_sesiones %><br/>
                          <%= f.select :sessions_number, (1..30).to_a, class: "form-control", value: course.sessions_number %>
                        </div>
                        <div class="form-group dropdown ">
                          <%= f.label :modalidad %><br>
                          <%= f.select :modality, ["Presencial", "Semi-Presencial o mixto", "En directo"], class: "dropdown-item" %>
                        </div>
                        <div class="form-group d-none">
                          <%= f.label :Costo_curso %><br/>
                          <%= f.text_field :cost, class: "form-control", placeholder: "#{course.cost}", value: course.cost %>
                        </div>
                        <div class="form-group">
                          <%= f.submit "Editar curso", class: "btn btn-green mt-3" %>
                        </div>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div></td>
                <td><%= button_to "Borrar", course_delete_path(course.id), method: :delete, form: { data: { turbo_confirm: "Estas seguro de eliminar este curso??" } }, class: "btn btn-danger" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% else %>
        <p class="text-center">Aún no hay curso agregados</p>
        <% end %>
      </div>
    </div>
  </section>
