<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%#= wicked_pdf_stylesheet_link_tag "pdf" %>
  <%#= wicked_pdf_javascript_include_tag "number_pages" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
  <style>
    body{
      position: relative;
    }
    .page-break { display:block; clear:both; page-break-after:always; }
    .bg-wine{
      background-color: #9F2241;
    }
    .bg-green{
        background-color: #235B4E;
    }
    .green{
        color: #235B4E;
    }
    .w-33{
      width: 33%;
      max-width: 33%;
    }
    .{
      width: 50%;
      max-width: 50%;
    }
    .w-25{
      width: 25%;
      max-width: 25%;
    }
    .w-75{
      width: 75%;
      max-width: 75%;
    }
    .w-66{
        width: 66%;
        max-width: 66%;
    }
    .fw-bold{
      font-weight: bold;
    }
    * {
      -webkit-box-sizing: border-box;
    }
    .flexrow {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
    }
    .flexrow > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      margin-right: 0;
      border: 1px solid black;
    }
    .flexrow > div:last-child {
      margin-right: 0;
    }
    .fs-14{
      font-size: 14px;
    }
    .fs-12{
      font-size:12px;
    }
    .fs-10{
      font-size:11px;
    }
    #logo-icat{
        max-height: auto;
        width: 75%;
        margin: 0 auto;
        display: block;
    }
  </style>
</head>
<body onload='number_pages'>
    <%= image_tag image_url("logos/logo_color_extend.png"), class: "w-75 img-fluid", id: "logo-icat" %>
    <h1 class="display-6 text-center">Ficha Técnica del curso</h1>
     <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">ID DDC: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.id_ddc %></p>    
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Curso: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.name %></p>    
        </div>
    </div>
    <div class="flexrow">
    <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Instructor: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.professor.name %></p>    
        </div>
    </div>
    <div class="flexrow">
    <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Modalidad: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.modality %></p>    
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Horario y fecha del curso: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0">
                <%= @course.start_date.strftime("%d/%B/%y") %> al <%= @course.start_date.strftime("%d/%B/%y") %> <br>
                Días del curso: <% @course.days.each do |course| %>
                <%= course %>,
                <% end %>
                <br>
                <%= @course.start_hour.strftime('%H:%M') %> - <%= @course.end_hour.strftime('%H:%M') %>
            </p>    
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Total de participantes: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @students.count %></p> 
            <p class="m-0">Hombres: <%= @man %></p> 
            <p class="m-0">Mujeres: <%= @women %></p> 
            <p class="m-0 text-uppercase">lgbtttiq: <%= @other %></p> 
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Aprobados: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.approved %></p> 
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">No aprobados: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.reprobated %></p> 
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Porcentaje efectividad: </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= (@course.approved * 100)/@students.count %> %</p> 
        </div>
    </div>
    <div class="flexrow">
        <div class="w-33 bg-green text-white p-1">
            <p class="m-0">Bajas </p>
        </div>
        <div class="w-66 text-uppercase p-1">
            <p class="m-0"><%= @course.downs %></p> 
        </div>
    </div>
    <div id="tester"></div>
    <script>
  var data = [{
    values: [<%= @man %>, <%= @women %>, <%= @other %>],
    labels: ["Hombres", "Mujeres", "Prefiero no especificar"],
    type: 'pie',
    marker: {
      colors: 'rgb(56, 75, 126)'
    }
  }];

  var layout = {
    height: 400,
    width: 500,
    margin: {"t": 0, "b": 0, "l": 0, "r": 0},
    colorway : ['#FF69B4', '#109dfa', '#B22222']
  };

  Plotly.newPlot('tester', data, layout);
</script>
</body>
</html>
