<section class="container-fluid py-5" id="courses_show">
  <div class="row">
    <div class="col-10 mx-auto">
      <h4 class="text-center gray">Curso</h4>
      <h1 class="display-3 text-center"><%= @course.name.upcase %></h1>
      <%= link_to "Ver todos los cursos", courses_index_path, class: "btn btn-green mb-5 d-block w-50 m-auto text-center" %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-10 col-lg-6 mx-auto">
            <p>Ubicación: <%= @course.site %></p>
            <p>Modalidad: <%= @course.modality %></p>
            <p>Fecha de inicio: <%= @course.start_date.strftime("%m / %d / %Y") %></p>
            <p>Fecha de finalización: <%= @course.end_date.strftime("%m / %d / %Y") %></p>
            <p>Hora de inicio: <%= @course.start_hour.strftime('%H:%M') %></p>
            <p>Hora de finalización: <%= @course.end_hour.strftime('%H:%M') %></p>
            <p>Días del curso: <% @course.days.each do |course| %>
              <%= course %>,
              <% end %>
            </p>
            <%= link_to "Descargar lista en PDF", course_show_path(@course.id, format: :pdf), target: "_blank", class: "btn-green btn" %>
          </div>
          <div class="col-12 col-sm-10 col-lg-6 mx-auto text-center">
            <div id="tester" class="text-center"></div>
          </div>
        </div>
      </div>
      <% if @students.any? %>
      <h3 class="text-center">Alumnos inscritos al curso:</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td class="text-capitalize"><%= student.name.capitalize %></td>
            <td class="text-capitalize"><%= student.last_name.capitalize %> <%= student.second_last_name.capitalize %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <h3 class="text-center">Aún no hay estudiantes agregados a este curso</h3>
      <% end %>
    </div>
  </div>
</section>
<script>
  var data = [{
    values: [<%= @man %>, <%= @women %>, <%= @other %>],
    labels: ["Hombres", "Mujeres", "Prefiero no especificar"],
    type: 'pie',
    marker: {
      colors: 'rgb(56, 75, 126)'
    }
  }];

  var layout = {
    height: 400,
    width: 500,
    margin: {"t": 0, "b": 0, "l": 0, "r": 0},
    colorway : ['#FF69B4', '#109dfa', '#B22222']
  };

  Plotly.newPlot('tester', data, layout);
</script>
