<section class="container-fluid py-5" id="courses_show">
  <div class="row">
    <div class="col-10 mx-auto">
      <h4 class="text-center gray">Curso</h4>
      <h1 class="display-3 text-center"><%= @course.name.upcase %></h1>
      <%= link_to "Ver todos los cursos", courses_index_path, class: "btn btn-green mb-5 d-block w-50 m-auto text-center" %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-10 col-lg-6 mx-auto">
            <p>Ubicación: <%= @course.site %></p>
            <p>Modalidad: <%= @course.modality %></p>
            <p>Fecha de inicio: <%= @course.start_date.strftime("%m / %d / %Y") %></p>
            <p>Fecha de finalización: <%= @course.end_date.strftime("%m / %d / %Y") %></p>
            <p>Hora de inicio: <%= @course.start_hour.strftime('%H:%M') %></p>
            <p>Hora de finalización: <%= @course.end_hour.strftime('%H:%M') %></p>
            <p>Estatus del curso: <%= @course.status %></p>
            <p>Días del curso: <% @course.days.each do |course| %>
              <%= course %>,
              <% end %>
            </p>
            <%= link_to "Descargar lista en PDF", course_show_path(@course.id, format: :pdf), target: "_blank", class: "btn-green btn" %>
            <%= link_to "Agregar Ficha de materiales del curso", "#", class: "btn btn-green" %>
            <% if @course.professor %>
            <p class="mt-3">Profesor: <%= link_to @course.professor.name, professor_show_path(@course.professor.id), class: "btn btn-brown" %></p>
            <%= button_to 'Borrar professor', professor_delete_path(@course.professor.id), method: :delete, form: { data: { turbo_confirm: "¿Estas seguro de eliminar este profesor?" } }, class: "btn btn-cherry my-2" %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Editar Profesor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar Profesor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= form_for :professor, url: professor_update_path(@course.professor.id) do |f| %>
                    <div class="form-group">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :name, class: "form-control", required: true, value: @course.professor.name %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Email" %>
                      <%= f.email_field :email, class: "form-control", required: true, value: @course.professor.email %>
                    </div>
                    <div class="form-group d-none">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :course_id, class: "form-control", value: @course.id %>
                    </div>
                    <div class="form-group">
                      <%= f.submit "Actualizar Profesor", class: "btn btn-green mt-3" %>
                    </div>

                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-cherry" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-green d-block mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Agregar profesor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar profesor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= form_for :professor, url: professor_create_path do |f| %>
                    <div class="form-group">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :name, class: "form-control", required: true %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Email" %>
                      <%= f.email_field :email, class: "form-control", required: true %>
                    </div>
                    <div class="form-group d-none">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :course_id, class: "form-control", value: @course.id %>
                    </div>
                    <div class="form-group">
                      <%= f.submit "Agregar Profesor", class: "btn btn-green mt-3" %>
                    </div>

                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-12 col-sm-10 col-lg-6 mx-auto text-center">
            <div id="tester" class="text-center"></div>
          </div>
        </div>
      </div>
      <% if @students.any? %>
      <h3 class="text-center">Alumnos inscritos al curso:</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td class="text-capitalize"><%= student.name.capitalize %></td>
            <td class="text-capitalize"><%= student.last_name.capitalize %> <%= student.second_last_name.capitalize %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <h3 class="text-center">Aún no hay estudiantes agregados a este curso</h3>
      <% end %>
    </div>
  </div>
</section>
<script>
  var data = [{
    values: [<%= @man %>, <%= @women %>, <%= @other %>],
    labels: ["Hombres", "Mujeres", "Prefiero no especificar"],
    type: 'pie',
    marker: {
      colors: 'rgb(56, 75, 126)'
    }
  }];

  var layout = {
    height: 400,
    width: 500,
    margin: {"t": 0, "b": 0, "l": 0, "r": 0},
    colorway : ['#FF69B4', '#109dfa', '#B22222']
  };

  Plotly.newPlot('tester', data, layout);
</script>
