<section id="workers_profile" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto p-5">
      <h1 class="text-center display-3" data-aos="fade-up">Perfil del Colaborador</h1>
      <% if logged_in? %>
      <p class=" text-capitalize">Nombre: <%= current_worker.name %> <%= current_worker.last_name.capitalize %></p>
      <p class="">Email: <%= current_worker.mail %></p>
      <p class=" text-capitalize">Teléfono: <%= current_worker.telephone %></p>
      <p class="text-capitalize">Cargo: <%= current_worker.position %></p>
      <p class="mb-3">Role: <%= current_worker.role %></p>
      <%= render "partials/workers/buttons_roles" %>
      <% else %>
      <%= link_to "Login", login_path %>
      <% end %>
      <h1>Pendientes</h1>
      <ul>
        <li>Agregar el formulario para editar el número de aprobados y no aprobados una vez que el curso tenga status de finalizado</li>
        <li>PAquete pedagógico entregado, con fecha</li>
        <li>Avisos de acreditación enviados, con fecha</li>
        <li>Poder mostrar los cursos por tipo de modalidad</li>
        <li>Mostrar la fecha de caducidad más próxima una vez que se haya agregado la fecha de caducidad</li>
        <li>Arreglar el agregar usuarios por archivo</li>
        
        <li>Agregar la ficha de contenidos( Temario) como un campo al modelo curso</li>
        <li>Agregar los detalles de la lista, el encabezado(titulo, fecha, nombre) a todas las vistas</li>
        <li>Alta Almacenaria modelo: fecha de entrada, cantidad, curso_id de los que esten en preparación, </li>
        <li>Agregar el seguimiento que es diario con el formato</li>
      </ul>
    </div>

  </div>

</section>
