<section id="workers_profile" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto p-5">
      <h1 class="text-center display-3" data-aos="fade-up">Perfil del Colaborador</h1>
      <% if logged_in? %>
      <p class=" text-capitalize">Nombre: <%= current_worker.name %> <%= current_worker.last_name.capitalize %></p>
      <p class="">Email: <%= current_worker.mail %></p>
      <p class=" text-capitalize">Teléfono: <%= current_worker.telephone %></p>
      <p class="text-capitalize">Cargo: <%= current_worker.position %></p>
      <p class="mb-3">Role: <%= current_worker.role %></p>
      <%= render "partials/workers/buttons_roles" %>
      <% else %>
      <%= link_to "Login", login_path %>
      <% end %>
      <h1>Pendientes</h1>
      <ul>
        <li>PAquete pedagógico entregado, con fecha</li>
        <li>Avisos de acreditación enviados, con fecha</li>
        <li>Capacidad de salones que sea abierta y quitar el</li>
        <li>Saber que curso esta usando cada salón y la fecha de inicio y termino</li>
        <li>Poder mostrar los cursos por tipo de modalidad</li>
        <li>Que se puedan borrar los items de la ficha de materiales de los cursos sin recargar la página</li>
        <li>Mostrar la fecha de caducidad más próxima una vez que se haya agregado la fecha de caducidad</li>
        <li>Alta Almacenaria modelo: fecha de entrada, cantidad, curso_id de los que esten en preparación, </li>
        <li>Agregar el seguimiento que es diario con el formato</li>
        <li>Hacer que los items del inventario se descuenten cuando se cambia el status a en progreso y regresarlos cuando se cambie a finalizado si no son de uso inmediato</li>
        <li>En prod: hacer que los insumos esten organizados por categoría</li>
        <li>Agregar el indice a la tabla de alumnos en el show de cursos y el total de estudiantes en el botón</li>
        <li>Poder editar studiante y borrar en el show del curso</li>
        <li>Poder borrar todos los estudiantes de un curso con un botón</li>
        <li>Poner las tablas primero apellidos y luego nombres y ordenados alfabeticamente por apellido paterno</li>
      </ul>
    </div>

  </div>

</section>
