<section id="products-index" class="container-fluid">
	<div class="row">
		<div class="col-10 mx-auto">
			<h1 class="text-center my-3">Insumos</h1>
			<%# Roles ['Admin', 'Inscripciones', "Administración", "Cursos"] %>
			<%= link_to warehouses_index_path, class: "btn btn-green d-block mx-auto w-25 my-3" do %>
			<%= bootstrap_icon "arrow-left", class: "text-center" %> Volver a los almacenes
			<% end %>
			<% if current_worker.role == "Admin" || current_worker.role == "Administración" %>
			<!-- Button trigger modal new supply -->
			<button type="button" class="btn btn-green mb-3 d-block m-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				<%= bootstrap_icon "plus-circle", class: "text-center" %> Agregar Insumo
			</button>
			<!-- Button trigger modal multuple supplies -->
			<button type="button" class="btn btn-green mb-3 d-block m-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<%= bootstrap_icon "folder", class: "text-center" %> Agregar insumos por archivo
			</button>
			<% end %>
			<%= link_to  products_csv_path, class: "btn btn-green d-block w-50 mx-auto my-2" do %>
				<%= bootstrap_icon "cloud-arrow-down", class: "text-center" %> Descargar esquema de insumos
			<% end %>


			<!-- Modal multiple supplies -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Selecciona el archivo de insumos</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<%= form_for :supplies_file, url: products_multiple_path do |f| %>
							<div class="form-group">
								<%= f.label :file, "Sube el archivo CSV" %>
								<%= f.file_field :file, accept: 'text/csv', required: true, class: "form-control" %>
								<%= f.label :warehouse_id, "Selecciona el Almacen" %>
								<%= f.collection_select :warehouse_id, Warehouse.order(:name),:id,:name, include_blank: false %>
							</div>
							<%= f.submit "Agregar insumos", class: "btn btn-green mt-3" %>
							<% end %>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal new supply -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Información del insumo</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<%= form_for :supply, url: product_create_path do |f| %>
							<div class="form-group">
								<%= f.label "Almacen", class: "form-label" %>
								<%= f.collection_select :warehouse_id, Warehouse.order(:name), :id, :name, include_blank: false, class: "form-control", required: true %>
							</div>
							<div class="form-group">
								<%= f.label "Anaquel", class: "form-label"  %>
								<%= f.collection_select :shelf_id, Shelf.order(:code), :id, :category, include_blank: false, class: "form-control", required: true %>
							</div>
							<div class="form-group">
								<%= f.label "Sección", class: "form-label"  %>
								<%= f.select :shelf_section_id, (1..10).to_a ,class: "dropdown-item" %>
								<%#= f.collection_select :shelf_section_id, ShelfSection.order(:number), :id, :number, include_blank: false, class: "form-control", required: true %>
							</div>

							<div class="form-group">
								<%= f.label "Nombre del insumo", class: "form-label" %>
								<%= f.text_field :name, class: "form-control", required: true %>
							</div>

							<div class="form-group">
								<%= f.label "Descripción", class: "form-label"  %>
								<%= f.text_field :description, class: "form-control", required: true %>
							</div>

							<div class="form-group">
								<%= f.label "Fecha de caducidad (Dejar en blanco si no aplica)", class: "form-label"  %>
								<%= f.date_field :expiry_date, class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.label "Categoría", class: "form-label"  %>
								<%= f.select :category, ['instrumental', 'consumo'], {include_blank: false},  { class: "form-select text-capitalize",  autofocus: true} %>
							</div>

							<div class="form-group">
								<%= f.label "Sub Categoría", class: "form-label"  %>
								<%= f.select :sub_category, ["inmediato", "intermedio", "duradero"], {include_blank: false},  { class: "form-select text-capitalize",  autofocus: true} %>
							</div>

							<div class="form-group">
								<%= f.label "Cantidad", class: "form-label"  %>
								<%= f.select :quantity, (1..30).to_a ,class: "dropdown-item" %>
							</div>

							<div class="form-group">
								<%= f.label "Código de identificación", class: "form-label"  %>
								<%= f.text_field :identification_code, class: "form-control", required: true %>
							</div>
							<div class="form-group">
								<%= f.label "Es de un solo uso?", class: "form-label"  %>
								<%= f.label "Sí" %>
								<%= f.radio_button :perishable, true%>
								<%= f.label "No" %>
								<%= f.radio_button :perishable, false %>
							</div>

							<div class="form-group">
								<%= f.submit "Agregar Insumo", class: "btn btn-green mt-3" %>
							</div>

							<% end %>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-10 mx-auto">
			<% if @supplies.any? %>
			<div class="container-fluid">
				<div class="row">
					<h2>Cantidad de productos en los dos almacenes: <%= Supply.count %></h2>
					<h2>Cantidad de productos instrumentales:  <%= @supplies_instrumental %></h2>
					<h2>Cantidad de productos de consumo: <%= @supplies_comsumption %></h2>
					<h3>Cantidad de productos de consumo inmediato: <%= @supplies_immediate %></h3>
					<h3>Cantidad de productos de consumo intermedio: <%= @supplies_intermediate %></h3>
					<h3>Cantidad de productos de consumo duradero: <%= @supplies_durable %></h3>

					<% @supplies.each_with_index do |supply, index| %>
					<div class="card my-3 col-12 col-sm-6 col-md-4 col-xl-3">
						<div class="card-header h3">
							<%= supply.name.capitalize %>
						</div>
						<div class="card-body">
							<p class="card-text"><span class="fw-bold">Descripción:</span> <%= supply.description %></p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cantidad: <%= supply.quantity %></li>
							<li class="list-group-item">Almacen: <%= Warehouse.find(supply.warehouse_id).name %></li>
							<li class="list-group-item">Anaquel: <%= Shelf.find(ShelfSection.find(supply.shelf_section_id).id).code %></li>
							<li class="list-group-item">Sección: <%= ShelfSection.find(supply.shelf_section_id).number %></li>
							<li class="list-group-item text-capitalize">Categoría: <%= supply.category %></li>
							<li class="list-group-item text-capitalize">Sub categoría: <%= supply.sub_category %></li>
						</ul>
						<div class="card-body">
							<!-- Button trigger modal Edit supply -->
              				<% if current_worker.role == "Admin" || current_worker.role == "Administración" %>
							<button type="button" class="btn btn-green w-100 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal<%= supply.id %>">
								<%= bootstrap_icon "pencil", class: "text-center" %> Editar insumo
							</button>

							<!-- Modal edit supply -->
							<div class="modal fade" id="exampleModal<%= supply.id %>" tabindex="-1" aria-labelledby="exampleModal<%= supply.id %>Label" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModal<%= supply.id %>Label">Editar insumo</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<%= form_for :supply, url: product_update_path(supply.id) do |f| %>
											<div class="form-group">
												<%= f.label "Almacen" %>
												<%= f.collection_select :warehouse_id, Warehouse.order(:name), :id, :name, include_blank: false, class: "form-control", required: true %>
											</div>
											<div class="form-group">
												<%= f.label "Anaquel" %>
												<%= f.collection_select :shelf_id, Shelf.order(:code), :id, :category, include_blank: false, class: "form-control", required: true %>
											</div>
											<div class="form-group">
												<%= f.label "Sección " %>
												<%#= f.collection_select :shelf_section_id, ShelfSection.order(:number), :id, :number, include_blank: false, class: "form-control", required: true %>
												<%= f.select :quantity, (1..10).to_a ,class: "dropdown-item" %>
											</div>


											<div class="form-group">
												<%= f.label "Nombre del insumo" %>
												<%= f.text_field :name, class: "form-control", required: true, placeholder: "#{supply.name}", value: supply.name %>
											</div>

											<div class="form-group">
												<%= f.label "Descripción" %>
												<%= f.text_field :description, class: "form-control", required: true, placeholder: "#{supply.description}", value: supply.description %>
											</div>

											<div class="form-group">
												<%= f.label "Fecha de caducidad (Dejar en blanco si no aplica)", class: "form-label"  %>
												<%= f.date_field :expiry_date, class: "form-control" %>
											</div>

											<div class="form-group">
												<%= f.label "Categoría", class: "form-label"  %>
												<%= f.select :category, ['instrumental', 'consumo'], {include_blank: false},  { class: "form-select text-capitalize",  autofocus: true} %>
											</div>

											<div class="form-group">
												<%= f.label "Sub Categoría", class: "form-label"  %>
												<%= f.select :sub_category, ["inmediato", "intermedio", "duradero"], {include_blank: false},  { class: "form-select text-capitalize",  autofocus: true} %>
											</div>

											<div class="form-group">
												<%= f.label "Cantidad" %>
												<%= f.select :quantity, (1..30).to_a ,class: "dropdown-item" %>
											</div>

											<div class="form-group">
												<%= f.label "Código de identificación" %>
												<%= f.text_field :identification_code, class: "form-control", required: true, placeholder: "#{supply.identification_code}", value: supply.identification_code %>
											</div>
											<div class="form-group">
												<%= f.label "Es de un solo uso?" %>
												<%= f.label "Sí" %>
												<%= f.radio_button :perishable, true%>
												<%= f.label "No" %>
												<%= f.radio_button :perishable, false %>
											</div>

											<div class="form-group">
												<%= f.submit "Editar Insumo", class: "btn btn-green mt-3" %>
											</div>
											<% end %>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<%= button_to "Borrar insumo", product_delete_path(supply.id), method: :delete, form: { data: { turbo_confirm: "Estas seguro de eliminar #{supply.name} de los insumos?" } }, class: "btn btn-danger my-3 w-100" %>
							<% end %>
							<%= link_to  product_show_path(supply.id), class: "card-link btn btn-green w-100" do %>
								<%= bootstrap_icon "eye", class: "text-center" %> Ver Insumo
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
			<div class="apple_pagination">
			  <div class="page_info">
			    <%= page_entries_info @supplies %>
			  </div>
			  <%= will_paginate @supplies, :container => false %>
			</div>
			<% else %>
			<p>No se han agregado insumos aún</p>
			<% end %>
		</div>
	</div>
</section>
