<section id="warehouse-index" class="container-fluid">
  <div class="row">
    <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 mx-auto">
      <h1 class="text-center display-3 m-3">Almacenes</h1>
      <div class="container-fluid">
        <div class="row">
          <% @warehouses.each do |warehouse| %>
          <div class="col-12 col-md-6 mx-auto">
            <%= link_to warehouse.name, warehouse_show_path(warehouse.id), class: "btn btn-green w-100 p-2" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div class="row">
    <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 mx-auto">
      <p style="color: green"><%= notice %></p>
      <h1 class="text-center">Buscar Producto</h1>
      <%= link_to "Crear nuevo insumo", products_index_path, class: "btn btn-green my-3" %>
      <%= form_with(url: warehouses_index_path, method: "GET", data: {controller: "form-submission-supply", turbo_frame: "supplies", turbo_action: "advance" }, class: "my-5 w-100") do |form| %>
      <%= form.label :query, "Buscar Insumo:" %>
      <%= form.text_field :query, data: { action: "input->form-submission-supply#search" }, class: "w-100 mb-3 shadow rounded border" %>
      <%= form.submit 'Search', class: "btn btn-green" %>
      <% end %>
      <!-- Render the supplies -->
      <%= render "warehouses/supplies", supplies: @supplies %>

    </div>
  </div>
</section>
