<!DOCTYPE html>
<html>
<head>
  <title>Icat</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= favicon_link_tag asset_path('logos/favicon.ico') %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
</head>

<body>
  <% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible fade show fixed-top mt-3" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% end %>
  <%= render "partials/navbar" %>
  <%= yield %>
  <%= render "partials/footer" %>
</body>
</html>
